@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --primary-font-color: white;
  --header-h1-color: #dc143c;
  --header-background-color: black;
  --submit-hover-background-color: rgb(180, 22, 54);
  --background-color: #dc143c;
}

body {
  margin: 0;
  padding: 0;
  background: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-color: black;
  background-position: 50% 30%;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 500;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    356deg,
    rgba(0, 0, 0, 1) 69%,
    rgba(220, 20, 60, 1) 98%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0 20px 0px;
}

.header-h1 {
  font-family: "Lobster", cursive;
  font-size: 5.5rem;
  margin-top: 0;
  margin-bottom: 15px;
  color: var(--header-h1-color);
  text-shadow: 2px 0px 2px #dc143c;
}

.search {
  width: 280px;
  padding: 8px;
  border: none;
  margin-right: 15px;
  font-size: 1.1rem;
}

.submit {
  padding: 8px 20px;
  border: 1px solid #dc143c;
  background-color: var(--background-color);
  color: var(--primary-font-color);
  font-size: 1.1rem;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 5px;
}

.submit:hover {
  background-color: var(--submit-hover-background-color);
  border: 1px solid rgb(180, 22, 54);
}

.movie-container {
  position: absolute;
  top: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 500px) {

  .header-h1 {
    font-size: 3.5rem;
    margin-top: 15px;
  }

  .search {
    width: 200px;
    padding: 5px;
    font-size: 1rem;
  }

  .submit {
    padding: 5px 10px;
    border: 1px solid #dc143c;
    font-size: 1rem;
  }
  .movie-container {
    top: 160px;
  }
}
